*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    text-align: center;
    background-color: #9ba4b4;
    font-family: sans-serif;
}
.logo
{
    text-align: center;
    display: block;
    background-color:white;
}
.nav
{
    background-color: #595959;
}
.nav ul{
    list-style: none;
} 
.nav ul li{
    display: inline-block;
}
.nav ul li a
{
    text-decoration: none;
    padding: 5px;
    margin: auto 50px auto 50px;
    color: white;
    font-variant: small-caps;
}
.nav ul li a:hover{
    background-color: black;
    cursor: pointer;
}

.top-container
{
    text-align: center;
    margin: 20px;
}
h1 .top-container
{
    color: thistle;
}
.M
{
    text-decoration: none;
    font-size: 100px; 
    font-weight: bold;
    color:#a20a0a;
}
.M:hover{
    color: black;
    border-bottom-style: dotted;
}

.middle-container
{
    text-align: center;
    margin: 20px;
}
h1 .middle-container
{
    color: thistle;
}
.pro
{
    text-decoration: none;
    font-size: 50px; 
    font-weight: bold;
    color:#a20a0a;
}
.pro:hover{
    color: black;
    border-bottom-style: dotted;
}

.awatar img
{
    padding-top: 50px;
    border-radius: 50%;
}
.hi-msg{
    font-variant: small-caps;
}

.hi-msg h1 
{
    color: black;
}
.hi-msg h1:hover 
{
    color:#a20a0a;
    padding-top: 20px;
    font-size: 50px;

}
.hi-msg p 
{
    padding-top: 15px;
    color: blanchedalmond;
}
.work{
    text-align: left;
    font-variant: small-caps;
}
.work h1
{
    font-variant: small-caps;
    color: black;
    padding-top: 30px;
    margin-left: 20%;
}
.work h1:hover{
    color:#a20a0a;
    padding-top: 20px;
    font-size: 50px;
}
.work p 
{
    margin-left: 20%;
    padding-top: 15px; 
    color: blanchedalmond;
}
.developer
{
    text-align: right;
    font-variant: small-caps;
}
.developer h1
{
    padding-top: 30px;
    color: black;
    margin-right: 20%;
}
.developer h1:hover{
    color:#a20a0a;
    padding-top: 20px;
    font-size: 50px;
}
.developer p
{
    margin-right: 20%;
    padding-top: 15px;
    color: blanchedalmond;
}
.dot-row h1
{
    color: black;
    display: contents;
    font-size: 50px;
}
.dot-row h1:hover{
    color:#a20a0a;
}


.help
{
    font-variant: small-caps;
    text-align: center;
}

.help h1{
    padding-top: 20px;
    color: black;
}

.help h1:hover{
    color:#a20a0a;
    padding-top: 20px;
    font-size: 50px;
}

.help h3{
    padding-top: 20px;
    color: black;   
}
.help h3:hover{
    color:#a20a0a;
    padding-top: 20px;
    font-size: 30px;
}

.help p{
    padding-top: 20px;
    color: blanchedalmond;

}



.myButton {
    font-variant: small-caps;
    margin: 40px 0 40px 0;
	background-color:#599bb3;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:sans-serif;
	font-size:17px;
	padding:12px 25px;
	text-decoration:none;
}
.myButton:hover {
    background-color:#408c99;
    color: black;
}
.footer
{
    margin: 0;
    width: 100%;
    background-color: #595959;
    padding: 35px 0;
}

a.footer
{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    text-align: center;
}
p.footer{
    font-size: 12px;
    padding: 10px 0;
}










